@model MVCDesignmonster.WebUI.ViewModels.StartPageViewModel

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>@Model.WelcomeTitle</h1>
    <p class="lead">@Model.WelcomeText</p>

    <p>@Html.ActionLink("Se min profil!", "Index", "Profile", null, new { @class = "btn btn-success btn-lg" })</p>
</div>