@{
    ViewBag.Title = "SessionStatsPage";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<p class="lead">
    Visitors online:
    <ul>
        @foreach (var session in MvcApplication.Sessions)
        {
            <li>@session</li>
        }
    </ul>
</p>
