<ul class="nav navbar-nav">
    <li class="label label-default">Owner</li>
    <li>@Html.ActionLink("Home", "Index", "Home")</li>
    <li>@Html.ActionLink("SessionStats", "SessionStatsPage", "Home")</li>
    <li>@Html.ActionLink("FileUpload", "FileUpload", "Home")</li>
    <li>@Html.ActionLink("Profile", "Index", "Profile")</li>
</ul>
