<ul class="nav navbar-nav">
    <li class="label label-default">User</li>
    <li>@Html.ActionLink("Home", "Index", "Home")</li>
    <li>@Html.ActionLink("ActiveUserService", "ActiveUserServicePage", "Home")</li>
    <li>@Html.ActionLink("FileUpload", "FileUpload", "Home")</li>
    <li>@Html.ActionLink("Profile", "Index", "Profile")</li>
</ul>
