@{
    ViewBag.Title = "Något gick snett";
}

<h1 class="text-danger">Något blev fel.</h1>
<h2 class="text-danger">Försök gärna igen. Hör av dig till webmaster@profilsite.com om problemet kvarstår.</h2>