@{
    ViewBag.Title = "Ett fel har uppstått";
}

<h2 class="text-danger">Något blev fel.</h2>
<h3 class="text-danger">Försök gärna igen. Hör av dig till webmaster@profilsite.com om problemet kvarstår.</h3>